@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>
<ul>
    <li><a asp-controller="Admin" asp-action="Users">Zarządzaj użytkownikami</a></li>
    <li><a asp-controller="Admin" asp-action="Posts">Zarządzaj postami</a></li>
    <li><a asp-controller="Admin" asp-action="Comments">Zarządzaj komentarzami</a></li>
</ul>