@page
@model IndexModel
@{
    ViewData["Title"] = "Zarządzaj kontem";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Zarządzaj kontem</h2>
        <hr />

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Input.Nickname" class="form-label">Nazwa użytkownika (Nick)</label>
                <input asp-for="Input.Nickname" class="form-control" />
                <span asp-validation-for="Input.Nickname" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>

        <hr />
        <a asp-page="./Email">Zmień adres e-mail</a> |
        <a asp-page="./ChangePassword">Zmień hasło</a>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
